<ons-toolbar>
    <div class="left">
        <ons-button modifier="light" ng-click="orderModal.hide()">
            <ons-icon icon="ion-close-round"></ons-icon>
        </ons-button>
    </div>

    <div class="center">
        ORDERS
    </div>
</ons-toolbar>

<ons-row>
    <ons-list>
        <ons-list-header>{{order.date_opened | date:'yyyy-mm-dd -  HH:mm:ss'}}</ons-list-header>

        <ons-list-item
                class="list-item-container menu-list-item"
                ng-repeat="item in orderItems">
            <ons-row align="center">
                <ons-col width="95px">
                    <img ng-src="{{'images/' + item.image}}" class="thumbnail">
                </ons-col>
                <ons-col align="top">
                    <div class="name" align="left">
                        {{item.name}}
                    </div>
                    <div class="desc" align="left">
                        {{item.quantity}} x {{item.price | currency}}
                    </div>
                </ons-col>
                <ons-col width="80px">
                    <ons-button modifier="large" ng-click="showOrderItem(item)">
                        {{item.price | currency}}
                    </ons-button>
                </ons-col>
            </ons-row>
        </ons-list-item>

    </ons-list>
</ons-row>