<?xml version='1.0' encoding='utf-8'?>
<widget id="net.geekylab.geekymenu" version="0.0.1" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Geeky menu</name>
    <description>
        Revolution of digital menu.
    </description>
    <author email="johnathan@geekylab.net" href="http://geekylab.net">
        Geeky Lab Team
    </author>
    <preference name="SplashScreen" value="screen"/>
    <content src="index.html"/>
    <access origin="*"/>
</widget>
