<ons-page ng-controller="DocumentCtrl">
    <ons-toolbar>
        <div class="center">Home</div>
    </ons-toolbar>

    <br><br>

    <ons-row align="center" ng-repeat="order in orders">
        <ons-col>
            Order {{order.id}}
        </ons-col>
        <ons-col>
            {{order.date_opened | date:'dd/MM/yyyy - hh:mm:ss'}}
        </ons-col>
    </ons-row>
    <br><br>

    <ons-row align="center">
        <ons-col>
            <ons-button ng-click="addItem()">
                {{buttonText}}
            </ons-button>
        </ons-col>
    </ons-row>

    <br>
    <ons-row align="center">
        <ons-col>
            ID
        </ons-col>
        <ons-col>
            Name
        </ons-col>
        <ons-col>
            Quantity
        </ons-col>
        <ons-col align="right">
            Price
        </ons-col>
        <ons-col align="right">
            Total
        </ons-col>
    </ons-row>

    <br>
    <ons-row align="center" ng-repeat="item in items">
        <ons-col>
            {{item.id}}
        </ons-col>
        <ons-col>
            {{item.name}}
        </ons-col>
        <ons-col>
            {{item.quantity}}
        </ons-col>
        <ons-col align="right">
            {{item.price | currency}}
        </ons-col>
        <ons-col align="right">
            {{item.price * item.quantity | currency}}
        </ons-col>
    </ons-row>

    <hr>
    <ons-row align="center">
        <ons-col>
            {{item.id}}
        </ons-col>
        <ons-col>
            {{item.name}}
        </ons-col>
        <ons-col>
            {{item.quantity}}
        </ons-col>
        <ons-col align="right">
            {{item.value | currency}}
        </ons-col>
        <ons-col align="right">
            {{item.value * item.quantity | currency}}
        </ons-col>
    </ons-row>

    <hr>
    <ons-row align="center">
        <ons-col>
            {{order.id}}
        </ons-col>
        <ons-col>
            {{order.status}}
        </ons-col>
        <ons-col width="50%">
            {{order.date_opened | date:'yyyy-MM-dd - HH:mm:ss'}}
        </ons-col>
    </ons-row>

    <br>
    <ons-row align="center">
        <ons-col>
            Order {{orderStatus.id}}
        </ons-col>
        <ons-col>
            Status {{orderStatus.status}}
        </ons-col>
        <ons-col width="50%">
            {{orderStatus.date_opened | date:'yyyy-MM-dd - HH:mm:ss'}}
        </ons-col>
    </ons-row>
</ons-page>