<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <title>GeekyMenu</title>

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">
    <link rel="stylesheet" href="lib/onsen/css/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="styles/app.css"/>
    <link rel="stylesheet" href="styles/onsen-templates-css.css"/>
    <link rel="stylesheet" href="styles/store-page.css"/>
    <link rel="stylesheet" href="styles/login-page.css"/>
    <link rel="stylesheet" href="styles/search-page.css"/>

    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>

    <script src="cordova.js"></script>
    <script src="js/app.js"></script>

    <script>
        ons.ready(function() {
        });
    </script>
</head>

<body ng-controller="AppController">

<ons-tabbar>
    <ons-tabbar-item active="true" page="home.html">
        <div class="tab">
            <ons-icon icon="fa-home" class="tab-icon"></ons-icon>
            <div class="tab-label">Home</div>
        </div>
    </ons-tabbar-item>

    <ons-tabbar-item page="search.html">
        <div class="tab">
            <ons-icon icon="fa-search" class="tab-icon"></ons-icon>
            <div class="tab-label">Advanced Search</div>
        </div>
    </ons-tabbar-item>

    <ons-tabbar-item page="store.html">
        <div class="tab">
            <ons-icon icon="fa-heart" class="tab-icon"></ons-icon>
            <div class="tab-label">Favorites</div>
        </div>
    </ons-tabbar-item>

    <ons-tabbar-item page="login.html">
        <div class="tab">
            <ons-icon icon="fa-gear" class="tab-icon"></ons-icon>
            <div class="tab-label">Settings</div>
        </div>
    </ons-tabbar-item>
</ons-tabbar>

<ons-template id="home.html">
    <ons-page>
        <ons-toolbar>
            <div class="center">GeekyMenu</div>
        </ons-toolbar>
        <div class="search-background">
            <input type="search" value="" placeholder="Search" class="search-input">
        </div>
    </ons-page>
</ons-template>

<ons-template id="results.html">
    <ons-navigator>
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="doSomething()">
                        <ons-icon icon="ion-compose"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Home</div>
                <div class="right"></div>
            </ons-toolbar>

            <ons-list style="margin: -1px 0">
                <ons-list-item modifier="chevron" class="item" ng-repeat="i in [1,2,3,4,5]" ng-click="doSomething()">
                    <ons-row>
                        <ons-col width="60px">
                            <div class="item-thum"></div>
                        </ons-col>
                        <ons-col>
                            <header>
                                <span class="item-title">Rorem Ipsum</span>
                                <span class="item-label">5h</span>
                            </header>
                            <p class="item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-navigator>
</ons-template>

</body>
</html>
