<ons-page ng-controller="StoreController">
    <ons-toolbar modifier="transparent">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
    </ons-toolbar>
    <div class="details-content">
        <div class="card" geeky-background-image="{{storeInfo.images}}">
            <div class="card-background-dark">
                <div class="card-name" geeky-gettext="{{storeInfo.store_name}}"></div>
                <div class="card-desc" geeky-gettext="{{storeInfo.desc}}"></div>
                <div class="card-desc">
                    <br>{{storeInfo.opening_hour.start}} - {{storeInfo.opening_hour.end}}
                    <span ng-show="storeInfo.opening_hour.last_order">
                        ({{storeInfo.opening_hour.last_order}})
                    </span>
                </div>
            </div>
        </div>

        <!--<div class="rating">-->
            <!--<div class="rating-num">-->
                <!--<ons-icon ng-repeat="a in ratingFull" icon="fa-star"></ons-icon>-->
                <!--<ons-icon ng-if="ratingHalf == 1" icon="fa-star-half-full"></ons-icon>-->
                <!--<ons-icon ng-repeat="c in ratingEmpty" icon="fa-star-o"></ons-icon>-->
            <!--</div>-->
        <!--</div>-->

        <ons-list style="border-top: none">
            <ons-list-item style="line-height: 1; padding: 0;">
                <ons-row class="action">
                    <ons-col class="action-col" ng-click="rateStore()">
                        <div class="action-icon">
                            <ons-icon icon="fa-star-half-full"></ons-icon>
                        </div>
                        <div class="action-label">Rate</div>
                    </ons-col>

                    <ons-col class="action-col">
                        <div class="action-icon">
                            <ons-icon icon="fa-heart"></ons-icon>
                        </div>
                        <div class="action-label">Love</div>
                    </ons-col>

                    <ons-col class="action-col">
                        <div class="action-icon">
                            <ons-icon icon="ion-android-share"></ons-icon>
                        </div>
                        <div class="action-label">Share</div>
                    </ons-col>

                    <ons-col class="action-col">
                        <div class="action-icon">
                            <ons-icon icon="fa-check-square-o"></ons-icon>
                        </div>
                        <div class="action-label">Check In</div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>

        <!-- BEGIN INFO LIST -->
        <ons-list style="margin-top: 12px;">
            <ons-list-item modifier="chevron" ng-click="openMap(storeInfo.location)">
                <div class="prop-desc">
                    <ons-icon icon="fa-map-marker"></ons-icon>
                    {{storeInfo.zip_code}}
                    {{storeInfo.address}} {{storeInfo.address2}} {{storeInfo.city}} {{storeInfo.state}}
                    {{storeInfo.country}}
                </div>
            </ons-list-item>

            <ons-list-item modifier="chevron" ng-click="openDialer(storeInfo.tel)">
                <div class="prop-desc">
                    <ons-icon icon="fa-phone"></ons-icon>
                    {{storeInfo.tel}}
                </div>
            </ons-list-item>

            <ons-list-item modifier="chevron" ng-click="showStoreMenu()">
                <div class="prop-desc">
                    <ons-icon icon="fa-book"></ons-icon>
                    Store Photos and Menu
                </div>
            </ons-list-item>

            <ons-list-item modifier="chevron">
                <div class="prop-desc">
                    <ons-icon icon="fa-clock-o"></ons-icon>
                    Make a Reservation
                </div>
            </ons-list-item>
        </ons-list>
        <!-- END INFO LIST -->
    </div>
</ons-page>