<ons-page ng-controller="StoreMenuController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>

        <div class="center">Menu</div>

        <div class="right">
            <ons-toolbar-button ng-click="toggleSearch()">
                <ons-icon icon="fa-search"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="search-background" ng-show="searchBox">
        <input type="search" value="" placeholder="Search" class="search-input">
    </div>

    <!-- CART/HISTORY SHORTCUT -->
    <div ng-controller="OrderController">
        <ons-row class="cart-shortcut" align="center" ng-click="showCart()" ng-show="orderShortcut.items > 0">
            <ons-col>Items: {{orderShortcut.items}}</ons-col>
            <ons-col>Total: {{orderShortcut.total | currency}}</ons-col>
        </ons-row>
    </div>
    <!-- END CART/HISTORY SHORTCUT -->

    <!-- FILTER BUTTONS -->
    <ons-row>
        <ons-col class="padding-10">
            <ons-button modifier="large" class="padding-10" ng-click="">
                <ons-icon icon="ion-pizza" class="big-button-icon"></ons-icon>
                <br>
                Food
            </ons-button>
        </ons-col>
        <ons-col class="padding-10">
            <ons-button modifier="large" class="padding-10">
                <ons-icon icon="ion-beer" class="big-button-icon"></ons-icon>
                <br>
                Beverage
            </ons-button>
        </ons-col>
    </ons-row>
    <!-- END FILTER BUTTONS -->

    <!-- FOOD LIST -->



    <!-- TOP DISHES -->
    <ons-list>
        <ons-list-header>Top Dishes</ons-list-header>
        <ons-list-item
                class="list-item-container menu-list-item"
                ng-repeat="item in storeTopItems | orderBy:'-price'"
                ng-click="showItemDetail(item._id)">
            <ons-row align="center">
                <ons-col width="95px">
                    <img ng-src="{{'images/' + item.image}}" class="thumbnail">
                </ons-col>
                <ons-col align="top">
                    <div class="name" align="left">
                        {{item.name}}
                    </div>
                    <div class="desc" align="left">
                        {{item.desc}}
                    </div>
                    <div class="desc" align="bottom">
                        <div class="feature feature-inactive">
                            <ons-row align="center">
                                <ons-icon ng-if="item.serve > 2" icon="ion-android-friends"
                                          style="font-size: 15px;">
                                </ons-icon>

                                <ons-icon ng-if="item.serve == 2" icon="ion-android-contacts"
                                          style="font-size: 14px;"></ons-icon>

                                <ons-icon ng-if="item.serve == 1" icon="ion-android-contact"
                                          style="font-size: 11px;">
                                </ons-icon>

                                <b>&nbsp;{{item.serve}}</b>
                            </ons-row>
                        </div>
                    </div>
                </ons-col>
                <ons-col width="80px">
                    <ons-button modifier="large" ng-click="showOrderItem(item)">
                        {{item.price | currency}}
                    </ons-button>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>
    <!-- /TOP DISHES -->

    <!-- END FOOD LIST -->

    <!-- ORDER ITEM MODAL -->
    <ons-modal var="orderModal" class="order-page" align="top">
        <form name="orderItemForm">
            <ons-toolbar>
                <div class="center">
                    <ons-button modifier="light" ng-click="orderModal.hide()">
                        <ons-icon icon="ion-close-round"></ons-icon>
                    </ons-button>
                </div>
            </ons-toolbar>

            <!-- PRICE CONTAINER -->
            <ons-row class="modal-row-container order-item-total" align="center">
                <ons-col>
                    <i class="ion-social-usd"></i>
                    {{orderedItem.price * orderedItem.quantity}}
                </ons-col>
            </ons-row>
            <!-- END PRICE CONTAINER -->

            <ons-row class="modal-row-container">
                <ons-col width="15%">
                    <ons-button modifier="large" class="remove-quantity" ng-click="removeQuant()">
                        <ons-icon icon="ion-minus-round"></ons-icon>
                    </ons-button>
                </ons-col>
                <ons-col>
                    <input type="number" min="0" inputmode="numeric" pattern="[0,9]*" ng-model="orderedItem.quantity"
                           class="text-input item-quantity" value="{{orderedItem.quantity}}">
                </ons-col>
                <ons-col width="15%">
                    <ons-button modifier="large" class="add-quantity" ng-click="addQuant()">
                        <ons-icon icon="ion-plus-round"></ons-icon>
                    </ons-button>
                </ons-col>

                <ons-col width="8%"></ons-col>

                <ons-col width="35%">
                    <ons-button modifier="large" class="order-button" ng-click="addToOrder(orderedItem)">
                        Order
                    </ons-button>
                </ons-col>
            </ons-row>

            <ons-row class="item-description">
                <h3>{{orderedItem.name}}</h3>

                <p>
                    {{orderedItem.desc}}
                    A feijoada do johna é feita com muito amor e carinho pelos melhores chefs de nosso
                    restaurante.
                    Todos os clientes, sem exceção, adoram a feijoada do Johna!
                    Experimente, cada porção serve 4 pessoas!
                </p>
                <ons-list class="light-list" ng-show="orderedItem.ingredients.length > 0">
                    <ons-list-header style="color: #FFF; font-weight: 600;">
                        Ingredients
                    </ons-list-header>
                    <ons-list-item modifier="tappable" ng-repeat="ingredient in orderedItem.ingredients">
                        <label class="checkbox checkbox--list-item">
                            <input type="checkbox"
                                   ng-click="!ingredient.use_flag"
                                   ng-checked="ingredient.use_flag"
                                   ng-model="ingredient.use_flag"
                                   ng-disabled="!ingredient.can_remove">

                            <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
                            &nbsp;{{ingredient.name}}
                        </label>
                    </ons-list-item>
                </ons-list>
            </ons-row>

        </form>
    </ons-modal>
    <!-- END ORDER ITEM MODAL -->
</ons-page>
