<ons-page ng-controller="StoreMenuController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>

        <div class="center">Menu</div>

        <div class="right">
            <ons-toolbar-button ng-click="toggleSearch()">
                <ons-icon icon="fa-search"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="search-background" ng-show="searchBox">
        <input type="search" value="" placeholder="Search" class="search-input">
    </div>

    <!-- CART/HISTORY SHORTCUT -->
    <div ng-controller="OrderController">
        <ons-row class="cart-shortcut"
                 align="center"
                 ng-click="showOrder()"
                 ng-show="orderShortcut.items > 0">

            <ons-col>
                Items: {{orderShortcut.items}}
            </ons-col>
            <ons-col>
                Total: {{orderShortcut.total | currency}}
            </ons-col>
        </ons-row>
    </div>
    <!-- END CART/HISTORY SHORTCUT -->

    <!-- FILTER BUTTONS -->
    <ons-row>
        <ons-col class="padding-10">
            <ons-button modifier="large" class="padding-10" ng-click="showFood = !showFood">
                <ons-icon icon="ion-pizza" class="big-button-icon"></ons-icon>
                <br>
                To eat -
                {{showFood}}
            </ons-button>
        </ons-col>
        <ons-col class="padding-10">
            <ons-button modifier="large" class="padding-10" ng-click="showDrinks = !showDrinks">
                <ons-icon icon="ion-beer" class="big-button-icon"></ons-icon>
                <br>
                To drink -
                {{showDrinks}}
            </ons-button>
        </ons-col>
    </ons-row>
    <!-- END FILTER BUTTONS -->

    <!-- MENU -->
    <menu-food ng-show="showFood"></menu-food>
    <menu-drinks ng-show="showDrinks"></menu-drinks>
    <menu-top-items></menu-top-items>
    <!-- END MENU -->

    <!-- ORDER ITEM MODAL -->
    <ons-modal var="orderItemModal" class="order-page" align="top">
        <menu-item></menu-item>
    </ons-modal>
    <!-- END ORDER ITEM MODAL -->

    <!-- ORDER ITEM MODAL -->
    <div ng-controller="OrderController">
        <ons-modal var="orderModal" class="order-page" align="top">
            <order></order>
        </ons-modal>
    </div>
    <!-- END ORDER ITEM MODAL -->
</ons-page>