<ons-page ng-controller="StoreController">
    <ons-toolbar modifier="transparent">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
    </ons-toolbar>
    <div class="details-content">
        <div class="card">
            <div class="card-background-dark">
                <div class="card-name">{{storeInfo.name}}</div>
                <div class="card-desc">{{storeInfo.desc}}
                    <br>Opens {{storeInfo.open_days}}
                    <br>{{storeInfo.open_time}}
                </div>
            </div>
        </div>

        <div class="rating">
            <div class="rating-num">
                <!--
                fazer contas e trazer 3 tipos de estrelas: full, half e empty
                criar ng-repeat com a quantidade de cada estrela
                -->
                <ons-icon icon="fa-star" fixed-width="false"></ons-icon>
                <ons-icon icon="fa-star-half-full" fixed-width="false"></ons-icon>
                <ons-icon icon="fa-star-o" fixed-width="false"></ons-icon>
            </div>
        </div>

        <ons-list style="border-top: none">
            <ons-list-item style="line-height: 1; padding: 0;">
                <ons-row class="action">
                    <ons-col class="action-col" ng-click="rateStore()">
                        <div class="action-icon">
                            <ons-icon icon="fa-star-half-full"></ons-icon>
                        </div>
                        <div class="action-label">Rate</div>
                    </ons-col>

                    <ons-col class="action-col">
                        <div class="action-icon">
                            <ons-icon icon="fa-heart"></ons-icon>
                        </div>
                        <div class="action-label">Love</div>
                    </ons-col>

                    <ons-col class="action-col">
                        <div class="action-icon">
                            <ons-icon icon="ion-android-share"></ons-icon>
                        </div>
                        <div class="action-label">Share</div>
                    </ons-col>

                    <ons-col class="action-col">
                        <div class="action-icon">
                            <ons-icon icon="fa-check-square-o"></ons-icon>
                        </div>
                        <div class="action-label">Check In</div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>

        <!-- BEGIN INFO LIST -->
        <ons-list style="margin-top: 12px;">
            <ons-list-item modifier="chevron">
                <div class="prop-desc">
                    <ons-icon icon="fa-map-marker"></ons-icon>
                    {{storeInfo.address}}
                </div>
            </ons-list-item>

            <ons-list-item>
                <div class="prop-desc">
                    <ons-icon icon="fa-phone"></ons-icon>
                    {{storeInfo.phone}}
                </div>
            </ons-list-item>

            <ons-list-item modifier="chevron" ng-click="showStoreMenu()">
                <div class="prop-desc">
                    <ons-icon icon="fa-book"></ons-icon>
                    Store Photos and Menu
                </div>
            </ons-list-item>

            <ons-list-item modifier="chevron">
                <div class="prop-desc">
                    <ons-icon icon="fa-clock-o"></ons-icon>
                    Make a Reservation
                </div>
            </ons-list-item>
        </ons-list>
        <!-- END INFO LIST -->
    </div>
</ons-page>