.left {
    text-align: left;
}

.half-width {
    width: 48%;
}

.search-background {
    background: #ccc;
    padding: 5px;
}

.search-input {
    width: 98%;
    margin: 5px 5px 5px 5px;
    border-radius: 1em;
}

.card-background-dark {
    min-height: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.advanced-search-text {
    margin-top: 7px;
    width: 100%;
}

.facebook-color {
    background: #3b5998 !important;
}

.padding-10 {
    padding: 10px;
}

.big-button-icon {
    font-size: 40px !important;
}

span.small {
    font-size: 12px;
}