html {
    min-height: 100%; /* make sure it is at least as tall as the viewport */
    position: relative
}

body {
    height: 100% /* force the BODY element to match the height of the HTML element */
}

.left {
    text-align: left;
}

.half-width {
    width: 48%;
}

.search-background {
    background: #ccc;
    padding: 5px;
}

.search-input {
    width: 98%;
    margin: 5px 5px 5px 5px;
    border-radius: 1em;
}

.card-background-dark {
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.top-to-bottom {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;

    z-index: -1;
}

.advanced-search-text {
    margin-top: 7px;
    width: 100%;
}

.facebook-color {
    background: #3b5998 !important;
}

.padding-10 {
    padding: 10px;
}

.big-button-icon {
    font-size: 40px !important;
}

span.small {
    font-size: 12px;
}

.flat {
    border-radius: 0 !important;
}

div.navigation-bar.modal-navigation-bar {
    position: absolute;
    top: 0;
    left: 0;
    border: 0 !important;
}

ons-row.narrow-row {
    height: 45px;
}

ons-list.light-list {
    background: transparent;
    min-width: 100%;
    max-width: 100%;
    border: transparent;
}

ons-list.light-list ons-list-header {
    background: transparent;
    color: #fff;
    font-size: 20px;
    border: none !important;
    padding: 0 !important;
}

ons-list.light-list ons-list-item {
    color: #fff;
    border: none !important;
    padding: 0 !important;
}

.cart-modal {
    padding: 0 !important;
    max-width: 100%;
    width: 100%;
}

.remove-button {
    background: #FF4040;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.no-border {
    border: 0 !important;
}